.mainHeader {
  background: #2ddf5c;
  width: 100%;
  padding: 12px 18px;
}

.mainHeader > div {
  vertical-align: middle;
  display: inline-block;
}

.mainHeaderBrand {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.mainNav {
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 65px);
  display: inline-block;
}

.mainNavItems {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainNavItem {
  display: inline-block;
  margin: 0 16px;
}

.mainNavItem a {
  color: #034f1f;
  text-decoration: none;
  padding: 3px 0;
  font-weight: bold;
}

.mainNavItem a:hover,
.mainNavItem a:active {
  color: white;
  border-bottom: 5px solid white;
}

.mainNavItemCta a {
  background: #ff1b68;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
}

.mainNavItemCta a:hover,
.mainNavItemCta a:active {
  background: white;
  color: #ff1b68;
  border: none;
}
