.title {
  color: white;
  font-family: 'Anton', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
}

.titleBar {
  background: #ff1b68;
}

.subTitle {
  color: rgb(43, 187, 51);
  font-weight: 600;
}
